In [1]:
import os
import numpy as np
import pandas as pd
import csv
from bs4 import BeautifulSoup
import unicodedata
import requests
import urllib.request
import time
import random
from functools import reduce

df = pd.read_csv("model_style.csv")
#df['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category.Tradie%20Cars._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
#df['url'] = df['url'].str.replace(' ', '')

In [3]:
def extract(x, key1, key2):
    if key1 == '':
        start = 0
    else:
        start = x.find(key1) + len(key1)
    if key2 =='':
        end = len(x)
    else:
        end = x.find(key2)
    substring = x[start:end]
    return substring

In [4]:
df['Make'] = df.apply(lambda row: extract(row['ModelMake'], '', '_'), axis=1)
df['Model'] = df.apply(lambda row: extract(row['ModelMake'], '_', ''), axis=1)
df['Make'] = df['Make'].str.replace(' ', '%20')
df['Model'] = df['Model'].str.replace(' ', '%20')

In [5]:
df

,ModelMake,clean_vcBodyStyle,Make,Model
0,MG_GS,WAGON,MG,GS
1,PROTON_WIRA,4D_UTILITY,PROTON,WIRA
2,LEXUS_LC500h (HYBRID),SEDAN,LEXUS,LC500h%20(HYBRID)
3,MERCEDES-BENZ_MARCO POLO ACTIVITY,HATCH,MERCEDES-BENZ,MARCO%20POLO%20ACTIVITY
4,LAMBORGHINI_AVENTADOR,WAGON,LAMBORGHINI,AVENTADOR
...,...,...,...,...
878,TOYOTA_HILUX,PEOPLE_MOVER,TOYOTA,HILUX
879,FORD_CAPRI,4D_UTILITY,FORD,CAPRI
880,TOYOTA_COROLLA,PEOPLE_MOVER,TOYOTA,COROLLA
881,TOYOTA_LANDCRUISER,WAGON,TOYOTA,LANDCRUISER
882,TOYOTA_CAMRY,SEDAN,TOYOTA,CAMRY

In [62]:
wagon = df[df['clean_vcBodyStyle']=="WAGON"]
utility4d = df[df['clean_vcBodyStyle']=="4D_UTILITY"]
utility = df[df['clean_vcBodyStyle']=="UTILITY"]
sedan = df[df['clean_vcBodyStyle']=="SEDAN"]
coupe = df[df['clean_vcBodyStyle']=="COUPE"]
convertible = df[df['clean_vcBodyStyle']=="CONVERTIBLE"]
hatch = df[df['clean_vcBodyStyle']=="HATCH"]
peoplemove = df[df['clean_vcBodyStyle']=="PEOPLE_MOVER"]

In [63]:
adventure = wagon.append(utility4d).append(utility)
first = hatch.append(sedan)
family = wagon.append(sedan).append(peoplemove)
performance = convertible.append(coupe)
prestige = convertible.append(coupe)
tradie = wagon.append(peoplemove)

In [66]:
df

,level_0,index,ModelMake,clean_vcBodyStyle,Make,Model,url,Flag
0,0,0,MG_GS,WAGON,MG,GS,https://www.carsales.com.au/editorial/results/...,
1,1,4,LAMBORGHINI_AVENTADOR,WAGON,LAMBORGHINI,AVENTADOR,https://www.carsales.com.au/editorial/results/...,
2,2,5,VOLVO_V90,WAGON,VOLVO,V90,https://www.carsales.com.au/editorial/results/...,
3,3,7,MERCEDES-BENZ_S450,WAGON,MERCEDES-BENZ,S450,https://www.carsales.com.au/editorial/results/...,
4,4,8,MERCEDES-BENZ_S560,WAGON,MERCEDES-BENZ,S560,https://www.carsales.com.au/editorial/results/...,
...,...,...,...,...,...,...,...,...
360,360,860,MERCEDES-BENZ_300,PEOPLE_MOVER,MERCEDES-BENZ,300,https://www.carsales.com.au/editorial/results/...,
361,361,861,FORD_FALCON,PEOPLE_MOVER,FORD,FALCON,https://www.carsales.com.au/editorial/results/...,
362,362,876,MITSUBISHI_GALANT,PEOPLE_MOVER,MITSUBISHI,GALANT,https://www.carsales.com.au/editorial/results/...,
363,363,878,TOYOTA_HILUX,PEOPLE_MOVER,TOYOTA,HILUX,https://www.carsales.com.au/editorial/results/...,
364,364,880,TOYOTA_COROLLA,PEOPLE_MOVER,TOYOTA,COROLLA,https://www.carsales.com.au/editorial/results/...,

In [64]:
category = ['Adventure', 'First', 'Family', 'Performance', 'Prestige', 'Tradie']
categoryurl = [x + '%20Cars' for x in category]
adventure['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[0]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
first['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[1]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
family['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[2]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
performance['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[3]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
prestige['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[4]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)
tradie['url'] = df.apply(lambda row: "https://www.carsales.com.au/editorial/results/?q=(And.Category."+categoryurl[5]+"._.Make."+row['Make']+"._.Keywords.keyword("+row['Model']+").)", axis=1)

In [65]:
df = tradie
df = df.reset_index()
df['Flag'] = ''
# set daataframe here

In [83]:
df

,level_0,index,ModelMake,clean_vcBodyStyle,Make,Model,url,Flag
0,0,0,MG_GS,WAGON,MG,GS,https://www.carsales.com.au/editorial/results/...,0_0_0
1,1,4,LAMBORGHINI_AVENTADOR,WAGON,LAMBORGHINI,AVENTADOR,https://www.carsales.com.au/editorial/results/...,0_0_0
2,2,5,VOLVO_V90,WAGON,VOLVO,V90,https://www.carsales.com.au/editorial/results/...,0_0_0
3,3,7,MERCEDES-BENZ_S450,WAGON,MERCEDES-BENZ,S450,https://www.carsales.com.au/editorial/results/...,0_0_0
4,4,8,MERCEDES-BENZ_S560,WAGON,MERCEDES-BENZ,S560,https://www.carsales.com.au/editorial/results/...,0_0_0
...,...,...,...,...,...,...,...,...
360,360,860,MERCEDES-BENZ_300,PEOPLE_MOVER,MERCEDES-BENZ,300,https://www.carsales.com.au/editorial/results/...,
361,361,861,FORD_FALCON,PEOPLE_MOVER,FORD,FALCON,https://www.carsales.com.au/editorial/results/...,
362,362,876,MITSUBISHI_GALANT,PEOPLE_MOVER,MITSUBISHI,GALANT,https://www.carsales.com.au/editorial/results/...,
363,363,878,TOYOTA_HILUX,PEOPLE_MOVER,TOYOTA,HILUX,https://www.carsales.com.au/editorial/results/...,
364,364,880,TOYOTA_COROLLA,PEOPLE_MOVER,TOYOTA,COROLLA,https://www.carsales.com.au/editorial/results/...,

In [12]:
def getflag(url2check, model, make):
    
    A = random.random()
    print(A*10)
    time.sleep(A*10)

    fp = urllib.request.urlopen(url2check)
    mybytes = fp.read()
    mystr = mybytes.decode("utf8")
    fp.close()
    soup = BeautifulSoup(mystr, 'html.parser')

    search = str(soup.find_all('div', attrs={"class":"navigation"})[0])
    delimiter = '{"identifier'
    search = delimiter+search #so that first element is the string before first occurrence
    searchcut = ['{}{}'.format(delimiter, s) for s in search.split(delimiter) if s]
    searchcut = searchcut[1:len(searchcut)]
    count_art = len(searchcut) #number of articles on first page with that keyword

    if len(searchcut) > 0:
        headlines = [extract(x, "headline", "subHeading") for x in searchcut]
        keywordcount = [x.replace("-", "").lower().count(model.lower()) for x in headlines] #count how many times the article is actually about model
        dates = [extract(x, 'dateAvailable":', '') for x in searchcut] #to check recency
        dates = [extract(x, '', '}') for x in dates]
        yeardates = [int(''.join(filter(str.isdigit, x))) for x in dates] #just year for simplicity

        #function for recent articles that are listed as ex. January 31st, not January 2022
        for i in range(len(yeardates)-1):
            if yeardates[i] < 100:
                yeardates[i] = 2022
            else:
                yeardates[i] = yeardates[i]

        avgyear = str(round(sum(yeardates)/len(searchcut), 2))
        if sum(keywordcount) <= 1:
            flag = "1" #ie possibly manually check
        else:
            flag = "2" #should be good
    else:
        flag = "0" #no data
        avgyear = "0"
        
    return flag+"_"+avgyear+"_"+str(count_art)

In [97]:
for k in range(300,364):
    if k == 0:
        pass
    elif float(k/10).is_integer() == True:
        time.sleep(60)
    df.Flag.iloc[k] = getflag(df.url.iloc[k], df.Model.iloc[k], df.Make.iloc[k])

9.659090638102446

C:\Users\jeun\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

1.0766386100692737
3.6590548514014
3.3812918703422423
3.2601676750133137
8.671211241412708
9.29332280800289
4.602945693223296
5.3122309015533915
6.785503406637044
9.446461702429257
7.758592990489706
8.496845677271073
6.858600227785193
3.1547907232427272
3.5371563668771646
1.2612828539180398
8.933890978768735
0.3444386684179479
9.200011698340496
0.8410646675705791
8.275204261244477
6.632334711096374
7.1288815260079
7.797134779522831
6.7147868955463075
2.523187442173358
0.7684038593965237
5.772043662983616
2.858408032245918
1.1683456309085305
6.242138292474473
1.776393343524617
2.223309452304907
5.173478372336469
2.2087830500742136
4.82839180516394
6.526639749229232
5.692863679178844
7.181178151281056
6.785673878771954
1.8998451738095057
0.6687120827026305
4.441441049202441
8.394070538915729
5.24648172445551
4.7740453302776125
5.5609707562947
7.314026299769051
0.39906003022135206
5.888048132077353
5.45254907612991
1.3373220403425667
9.99445613471001
7.3378066414678305
4.96268762685559
2.8367445044589923
4.5465593112886715
3.6338436177006517
9.069494795343742
1.1473322111938067
2.025787672303224
5.3678004720995744
1.813425361112495

In [98]:
df

,level_0,index,ModelMake,clean_vcBodyStyle,Make,Model,url,Flag
0,0,0,MG_GS,WAGON,MG,GS,https://www.carsales.com.au/editorial/results/...,0_0_0
1,1,4,LAMBORGHINI_AVENTADOR,WAGON,LAMBORGHINI,AVENTADOR,https://www.carsales.com.au/editorial/results/...,0_0_0
2,2,5,VOLVO_V90,WAGON,VOLVO,V90,https://www.carsales.com.au/editorial/results/...,0_0_0
3,3,7,MERCEDES-BENZ_S450,WAGON,MERCEDES-BENZ,S450,https://www.carsales.com.au/editorial/results/...,0_0_0
4,4,8,MERCEDES-BENZ_S560,WAGON,MERCEDES-BENZ,S560,https://www.carsales.com.au/editorial/results/...,0_0_0
...,...,...,...,...,...,...,...,...
360,360,860,MERCEDES-BENZ_300,PEOPLE_MOVER,MERCEDES-BENZ,300,https://www.carsales.com.au/editorial/results/...,1_2017.5_2
361,361,861,FORD_FALCON,PEOPLE_MOVER,FORD,FALCON,https://www.carsales.com.au/editorial/results/...,2_2014.55_20
362,362,876,MITSUBISHI_GALANT,PEOPLE_MOVER,MITSUBISHI,GALANT,https://www.carsales.com.au/editorial/results/...,0_0_0
363,363,878,TOYOTA_HILUX,PEOPLE_MOVER,TOYOTA,HILUX,https://www.carsales.com.au/editorial/results/...,2_2020.95_20
364,364,880,TOYOTA_COROLLA,PEOPLE_MOVER,TOYOTA,COROLLA,https://www.carsales.com.au/editorial/results/...,

In [99]:
df.drop(columns = ['level_0'], axis = 1)

,index,ModelMake,clean_vcBodyStyle,Make,Model,url,Flag
0,0,MG_GS,WAGON,MG,GS,https://www.carsales.com.au/editorial/results/...,0_0_0
1,4,LAMBORGHINI_AVENTADOR,WAGON,LAMBORGHINI,AVENTADOR,https://www.carsales.com.au/editorial/results/...,0_0_0
2,5,VOLVO_V90,WAGON,VOLVO,V90,https://www.carsales.com.au/editorial/results/...,0_0_0
3,7,MERCEDES-BENZ_S450,WAGON,MERCEDES-BENZ,S450,https://www.carsales.com.au/editorial/results/...,0_0_0
4,8,MERCEDES-BENZ_S560,WAGON,MERCEDES-BENZ,S560,https://www.carsales.com.au/editorial/results/...,0_0_0
...,...,...,...,...,...,...,...
360,860,MERCEDES-BENZ_300,PEOPLE_MOVER,MERCEDES-BENZ,300,https://www.carsales.com.au/editorial/results/...,1_2017.5_2
361,861,FORD_FALCON,PEOPLE_MOVER,FORD,FALCON,https://www.carsales.com.au/editorial/results/...,2_2014.55_20
362,876,MITSUBISHI_GALANT,PEOPLE_MOVER,MITSUBISHI,GALANT,https://www.carsales.com.au/editorial/results/...,0_0_0
363,878,TOYOTA_HILUX,PEOPLE_MOVER,TOYOTA,HILUX,https://www.carsales.com.au/editorial/results/...,2_2020.95_20
364,880,TOYOTA_COROLLA,PEOPLE_MOVER,TOYOTA,COROLLA,https://www.carsales.com.au/editorial/results/...,

In [100]:
#df['Flag'] = df.apply(lambda row: getflag(row['url'], row['Model'], row['Make']), axis=1)
df.to_csv("tradie_flag.csv", index=False)

In [89]:
#### please check number of columns
olddf = pd.read_csv('tradie_flag.csv')
compileddf = olddf.append(cleandf)
compileddf.to_csv('tradie_flag.csv', index=False)